.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  padding-bottom: 50px;
}

.cardContainer {
  width: 90%;
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
}

.card {
  width: 45%;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

.cardHeading {
  font-size: 20px;
  color: var(--blue-text);
  font-weight: 500 !important;
}

.cardPara {
  color: var(--blue-text);
  margin: 10px 0;
}

@media screen and (max-width: 1450px) {
  .container {
    padding-top: 100px;
  }
  .cardHeading {
    font-size: 18px;
  }
  .cardPara {
    font-size: 15px;
  }
}

@media screen and (max-width: 1200px) {
  .card {
    width: 48%;
  }
}
@media screen and (max-width: 850px) {
  .cardContainer {
    flex-direction: column;
  }

  .card {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 500px) {
  .cardHeading {
    font-size: 15px;
  }
  .cardPara {
    font-size: 12px;
  }
  .cardContainer {
    padding-top: 50px;
  }
}
